force-app/main/default/flows/Update_Conversion_Rate_on_Dealer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Converted_Test_Drives</name>
        <label>Assign Converted Test Drives</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountConvertedTestDrives</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Converted_Test_Drives_for_a_particular_dealer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Conversion_Rate_for_a_dealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Test_Drives</name>
        <label>Assign Total Test Drives</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTotalTestDrives</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Test_Drives_for_a_particular_dealer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Converted_Test_Drives_for_a_particular_dealer</targetReference>
        </connector>
    </assignments>
    <description>The flow updates Conversion rate for a dealer. For instance, if Total test drives = 4 and Converted test drives = 2, then conversion rate is 50%</description>
    <environments>Default</environments>
    <formulas>
        <description>Specifies conversion rate for a dealer</description>
        <name>varConversionRate</name>
        <dataType>Number</dataType>
        <expression>{!varCountConvertedTestDrives}/{!varTotalTestDrives}*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Conversion Rate on Dealer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Conversion Rate on Dealer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get All Test Drives for the particular dealer same as the triggering record</description>
        <name>Get_All_Test_Drives_for_a_particular_dealer</name>
        <label>Get All Test Drives for a particular dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_Test_Drives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Test_Drives_for_a_particular_dealer</name>
        <label>Get Converted Test Drives for a particular dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Converted_Test_Drives</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Drive__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Conversion_Rate_for_a_dealer</name>
        <label>Update Conversion Rate for a dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Conversion_Rate__c</field>
            <value>
                <elementReference>varConversionRate</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Test_Drives_for_a_particular_dealer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Test_Drive__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Gets converted test drives for a dealer</description>
        <name>varCountConvertedTestDrives</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTotalTestDrives</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
